.singers-page-description {
  padding: px-to-rem(250px) 0 px-to-rem(223px) 0;
  @include set-bg-image(Morten Harket, png);

  @include set-media(sm) {
    padding: px-to-rem(225px) 0 px-to-rem(224px) 0;
  }

  h1 {
    margin-bottom: px-to-rem(16px);
  }

  .flex-container {
    margin-top: px-to-rem(24px);
    margin-left: px-to-rem(-24px);

    & > * {
      flex: 1 1 200px;
      margin-top: px-to-rem(24px);
      margin-left: px-to-rem(24px);
    }
  }

  .btn-description {
    justify-content: flex-start;
    min-height: px-to-rem(62px);
    @include set-typography(12.8px, 19.2px, normal, uppercase);
    padding-left: px-to-rem(31px);
  }
}

.page-popular-track {
  .flex-container {
    margin-left: px-to-rem(-50px);

    & > * {
      flex: 1 1 500px;
      margin-bottom: px-to-rem(25px);
      margin-left: px-to-rem(50px);
    }
  }

  .last-track {
    margin-bottom: 0;
  }

  .penultimate-track {
    margin-bottom: 0;

    @include set-media(lg) {
      margin-bottom: px-to-rem(25px);
    }
  }
}

.page-discography,
.page-similar {
  .flex-container {
    margin-left: px-to-rem(-50px);

    & > * {
      flex: 1 1 250px;
      margin-bottom: px-to-rem(25px);
      margin-left: px-to-rem(50px);

      @include set-media(sm) {
        flex: 1 1 137px;
        max-width: px-to-rem(137px);
      }
    }

    .last-item {
      margin-bottom: 0;

      @include set-media(sm) {
        margin-bottom: px-to-rem(25px);
      }
    }

    .last-item-sm {
      @include set-media(sm) {
        margin-bottom: 0;
      }
    }

    .reserve {
      margin-bottom: 0;
    }
  }
}
