.footer {
  @include set-bg-gradient($red, $purple);

  & .column-links {
    & .flex-container {
      margin-bottom: px-to-rem(-30px);
      margin-left: px-to-rem(-30px);
      padding: px-to-rem(61px 0px 74px);

      & > * {
        flex: 1 1 200px;
        margin-bottom: px-to-rem(30px);
        margin-left: px-to-rem(30px);
      }
    }

    .footer-title {
      margin-bottom: px-to-rem(16px);
      @include set-typography(18px, 27px, bold, uppercase);
      color: $white;
    }

    img {
      margin-right: px-to-rem(24px);
    }
  }

  & .row-links ul {
    padding: px-to-rem(40px 0px 48px);

    @include set-media(md) {
      flex-direction: column;
    }

    li:not(:last-child) {
      margin-right: px-to-rem(15px);

      @include set-media(md) {
        margin-bottom: px-to-rem(16px);
      }
    }
  }
}
