.footer {
  @include set-bg-gradient($red, $purple);

  & .column-links {
    & .flex-container {
      margin-bottom: px-to-rem(-20px);
      margin-left: px-to-rem(-30px);
      padding: px-to-rem(61px 0px 74px);

      & > * {
        flex: 1 1 200px;
        margin-bottom: px-to-rem(20px);
        margin-left: px-to-rem(30px);
      }
    }

    .footer-title {
      margin: px-to-rem(20px 0px);
      @include set-typography(18px, 36px, bold, uppercase);
    }

    li {
      margin-bottom: px-to-rem(8px);
    }

    img {
      margin-right: px-to-rem(20px);
    }
  }

  & .row-links ul {
    padding: px-to-rem(40px 0px);

    @include set-media(md) {
      flex-direction: column;
    }

    li {
      margin-right: px-to-rem(15px);
      padding: px-to-rem(10px 0px);
    }
  }
}
