$header-placeholder: #757575;

.header {
  position: absolute;
  top: px-to-rem(25px);
  right: 0;
  left: 0;

  .nav-menu ul > * {
    margin-left: px-to-rem(24px);
  }

  @include set-typography(11px, 13px, bold, uppercase);

  .logo {
    margin-right: px-to-rem(64px);

    &-image {
      width: px-to-rem(24px);
      margin-right: px-to-rem(16px);
    }

    &-title {
      padding: px-to-rem(5px 0px);
    }
  }

  .search-input {
    min-width: px-to-rem(248px);
    height: px-to-rem(25px);

    margin-left: auto;
    padding: px-to-rem(0px 14px);

    color: $white;

    background: $dark;
    border: none;
    border-radius: px-to-rem(50px);
  }

  .search-input::placeholder {
    color: $header-placeholder;
    text-transform: uppercase;
  }

  @include set-media(sm) {
    & .nav-menu ul {
      flex-direction: column;

      li {
        margin-bottom: px-to-rem(5px);
        margin-left: px-to-rem(0px);
      }
    }
  }

  @include set-media(md) {
    & > * {
      flex: 1 1 100%;

      margin-bottom: px-to-rem(23px);
    }
  }
}
