@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

main {
  padding-bottom: 6.25rem;
  color: #fff;
  background: #08020d;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 5.625rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  h1 {
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    text-transform: uppercase;
  }
}

h2 {
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 3.5625rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  h2 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
  }
}

h3 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  h3 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
  }
}

ul {
  list-style: none;
}

input {
  color: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 76.25rem;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .container {
    padding: 0rem 1.25rem;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.color-middle-gray {
  color: #e0e0e0;
}

.color-light-gray {
  color: #e0e0e0;
}

.text-uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-22 {
  margin-left: 22px;
}

.mt-70 {
  margin-top: 70px;
}

.bg-black {
  background: #08020d;
}

.page-pricing .flex-container {
  flex: 1 1 370px;
  margin-bottom: -2.5rem;
  margin-left: -3rem;
}
.page-pricing .flex-container > * {
  max-width: 23.125rem;
  margin-bottom: 2.5rem;
  margin-left: 3rem;
}
.page-pricing .bg-free {
  background: url("../images/subscribe_1.png") no-repeat center;
  background-size: cover;
}
.page-pricing .bg-standard {
  background: url("../images/subscribe_2.png") no-repeat center;
  background-size: cover;
}
.page-pricing .bg-premium {
  background: url("../images/subscribe_3.png") no-repeat center;
  background-size: cover;
}
.page-pricing > p {
  margin-top: 40px;
}
@media (max-width: 425px) {
  .page-pricing > p {
    margin-top: 20px;
  }
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}

.logo-image {
  width: 20px;
  height: 18px;
}

.logo-title {
  padding-left: 4px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.menu {
  margin-left: 63px;
}

.menu-item {
  margin-left: 37px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.search-input {
  width: 278px;
  height: 26px;
  padding: 0 14px;
  background: #cacaca;
  border: none;
  border-radius: 50px;
}

.main-section {
  padding-top: 272px;
  padding-bottom: 248px;
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
}

.main-subtitle {
  font-weight: bold;
  font-size: 30px;
}

.footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
}
.footer-info {
  padding: 61px 0 74px 0;
}
.footer-info li {
  margin-bottom: 10px;
}
.footer-info .list-title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-nav {
  padding: 40px 0;
  width: 500px;
}
.footer-separator {
  border: 1px solid #e0e0e0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-green {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: #34c176;
  border-radius: 5px;
}

.btn-pink {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: #95390c;
  border-radius: 50px;
}

.btn-gray {
  color: #8c8c8c;
  font-weight: bold;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.subscription-text {
  margin-top: 45px;
  font-weight: bold;
  font-size: 18px;
}

.subscription-form-container {
  max-width: 600px;
  margin: 0 auto 40px;
}

.inputs-container > * {
  width: calc(270px - 15px);
}

.subscription-input {
  flex: 1 1 270px;
  height: 50px;
  margin: 30px 15px 0;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.subscription-button {
  flex: 1 1 570px;
  height: 56px;
  margin: 30px 15px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 38.75rem;
  padding: 0rem 1.5625rem;
  border-radius: 0.625rem;
}
.card-title {
  position: absolute;
  top: 1.5rem;
}
.card-price {
  font-weight: normal;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: inherit;
}
.card-price .currency {
  top: -0.75em;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
  text-transform: uppercase;
}
.card-btn {
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  padding: 1.3125rem 0rem;
  border: 1px solid #fff;
}
.card-small-text {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: inherit;
  margin: 2.1875rem 0rem 4.125rem;
}

.fs-22 {
  margin-top: 50px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.news-content {
  width: 558px;
}

.divider {
  width: 11px;
  height: 0;
  border: 1px solid #B8B8B8;
  transform: rotate(90deg);
}

.source {
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  color: #F89202;
}

.date {
  font-size: 12px;
  line-height: 28px;
  color: #555555;
}

.text {
  width: 566px;
  font-size: 16px;
  line-height: 19px;
}

.download-btn {
  width: 174px;
  height: 56px;
}

.btn-news {
  width: 129.14px;
  height: 48px;
}

/*# sourceMappingURL=style.css.map */
