@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: inherit;
}

main {
  padding-bottom: 6.25rem;
  color: #fff;
  background: #08020d;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 5.625rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  h1 {
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    text-transform: uppercase;
  }
}

h2 {
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 3.5625rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  h2 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
  }
}

h3 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  h3 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
  }
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    padding: 0rem 1.25rem;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #e0e0e0;
}

.color-dark-gray {
  color: #cacaca;
}

.text-uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 12.5rem;
  padding: 0.75rem;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: inherit;
}
.btn-left-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.4375rem;
}

.btn-green {
  color: #fff;
  background: #34c176;
}

.btn-red {
  color: #fff;
  background: #95390c;
}

.btn-purple {
  color: #fff;
  background: #5328a1;
}

.form {
  max-width: 37.5rem;
  margin: 0 auto 2.5rem;
}
.form > * {
  margin: 1.875rem 0.9375rem 0rem;
}
.form-input {
  flex: 1 1 270px;
  height: 3.125rem;
  padding: 0.9375rem;
  color: #fff;
  background: transparent;
  border: 0.125rem solid #fff;
  border-radius: 0.1875rem;
}
.form .form-btn {
  flex: 1 1 570px;
  max-width: 35.625rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 38.75rem;
  padding: 0rem 1.5625rem;
  border-radius: 0.625rem;
}
.card-title {
  position: absolute;
  top: 1.5rem;
}
.card-price {
  font-weight: normal;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: inherit;
}
.card-price .currency {
  top: -0.75em;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
  text-transform: uppercase;
}
.card-btn {
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  padding: 1.3125rem 0rem;
  border: 0.0625rem solid #fff;
}
.card-small-text {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: inherit;
  margin: 2.1875rem 0rem 4.125rem;
}

.feed {
  display: flex;
  flex-direction: column;
}
.feed-title {
  color: #fff;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 2.8125rem;
  text-transform: capitalize;
}
@media (max-width: 425px) {
  .feed-title {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.625rem;
    text-transform: capitalize;
  }
}
@media (max-width: 1280px) {
  .feed-title {
    margin-top: 3.125rem;
  }
}
.feed-data {
  margin-top: 0.9375rem;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: uppercase;
}
.feed-data .source {
  color: #f89202;
}
.feed-data > * {
  margin-right: 1rem;
}
.feed-btn {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.8125rem;
  text-transform: uppercase;
  max-width: 9.375rem;
  margin-top: 3rem;
  padding: 1.0625rem 1.875rem;
  border: 0.0625rem solid #cacaca;
}

.track {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: capitalize;
  color: #e0e0e0;
}
.track-image {
  width: 3.4375rem;
  height: 3.4375rem;
}
.track-data {
  margin-left: 0.9375rem;
}
.track-title {
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: #fff;
}
.track-duration {
  margin: auto 0;
}

.album {
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: inherit;
}
.album-image {
  width: 15.625rem;
  height: 15.625rem;
}
@media (max-width: 425px) {
  .album-image {
    width: 8.5625rem;
    height: 8.5625rem;
  }
}
.album-title {
  margin-top: 1.125rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: capitalize;
}

.singer {
  color: #e0e0e0;
}
.singer-name {
  margin-top: 1.0625rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: inherit;
  color: #fff;
}

.header {
  position: absolute;
  top: 1.5625rem;
  right: 0;
  left: 0;
  font-weight: bold;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  text-transform: uppercase;
}
.header .nav-menu ul > * {
  margin-left: 1.5rem;
}
.header .logo {
  margin-right: 6.25rem;
}
.header .logo-image {
  width: 1.25rem;
  margin-right: 0.3125rem;
}
.header .logo-title {
  padding: 0.3125rem 0rem;
}
.header .search-input {
  min-width: 248px;
  height: 1.625rem;
  margin-left: auto;
  padding: 0rem 0.875rem;
  color: #fff;
  background: #3c3b3d;
  border: none;
  border-radius: 3.125rem;
}
.header .search-input::placeholder {
  color: #757575;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .header .nav-menu ul {
    flex-direction: column;
  }
  .header .nav-menu ul li {
    margin-bottom: 0.3125rem;
    margin-left: 0rem;
  }
}
@media (max-width: 768px) {
  .header > * {
    flex: 1 1 100%;
    margin-bottom: 1.4375rem;
  }
  .header .logo {
    order: 1;
  }
  .header .search-input {
    order: 2;
  }
  .header .nav-menu {
    order: 3;
  }
}

.footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}
.footer .column-links .flex-container {
  margin-bottom: -1.25rem;
  margin-left: -1.875rem;
  padding: 3.8125rem 0rem 4.625rem;
}
.footer .column-links .flex-container > * {
  flex: 1 1 200px;
  margin-bottom: 1.25rem;
  margin-left: 1.875rem;
}
.footer .column-links .footer-title {
  margin: 1.25rem 0rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}
.footer .column-links li {
  margin-bottom: 0.5rem;
}
.footer .column-links img {
  margin-right: 1.25rem;
}
.footer .row-links ul {
  padding: 2.5rem 0rem;
}
@media (max-width: 768px) {
  .footer .row-links ul {
    flex-direction: column;
  }
}
.footer .row-links ul li {
  margin-right: 0.9375rem;
  padding: 0.625rem 0rem;
}

.home-page-description {
  padding: 17rem 0rem 15.5rem 0rem;
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
}
.home-page-description .subtitle {
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 3.5625rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .home-page-description .subtitle {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
  }
}
.home-page-description p {
  margin-top: 2rem;
}
@media (max-width: 425px) {
  .home-page-description p {
    margin-top: 1rem;
  }
}

.page-pricing .flex-container {
  flex: 1 1 350px;
  margin-bottom: -2.5rem;
  margin-left: -3rem;
}
.page-pricing .flex-container > * {
  max-width: 21.875rem;
  margin-bottom: 2.5rem;
  margin-left: 3rem;
}
.page-pricing .bg-free {
  background: url("../images/subscribe_1.png") no-repeat center;
  background-size: cover;
}
.page-pricing .bg-standard {
  background: url("../images/subscribe_2.png") no-repeat center;
  background-size: cover;
}
.page-pricing .bg-premium {
  background: url("../images/subscribe_3.png") no-repeat center;
  background-size: cover;
}
.page-pricing > p {
  margin-top: 40px;
}
@media (max-width: 425px) {
  .page-pricing > p {
    margin-top: 20px;
  }
}

.page-news .flex-container {
  flex: 1 1 575px;
  margin-left: -3.125rem;
}
.page-news .flex-container > * {
  max-width: 35.9375rem;
  margin-left: 3.125rem;
}
.page-news > article:not(:last-child) {
  margin-bottom: 4.0625rem;
}
.page-news p {
  margin-top: 1.875rem;
}
@media (max-width: 425px) {
  .page-news p {
    margin-top: 0.9375rem;
  }
}
@media (max-width: 425px) {
  .page-news .news-image {
    height: 11.6875rem;
  }
}

.page-app .flex-container {
  flex: 1 1 600px;
  margin-left: -9rem;
}
.page-app .flex-container > * {
  max-width: 37.5rem;
  margin-left: 9rem;
}
.page-app .app-info {
  margin-top: 16px;
}
.page-app .download-btn {
  max-width: 8.125rem;
  border-radius: 2rem;
}
.page-app p {
  margin-bottom: 1rem;
}

.singers-page-description {
  padding: 15.625rem 0rem 23.3125rem 0rem;
  background: url("../images/Morten Harket.png") no-repeat center;
  background-size: cover;
  background-position: 70% 0;
}
.singers-page-description .flex-container {
  margin-top: 1.5rem;
  margin-left: -1.5rem;
}
.singers-page-description .flex-container > * {
  flex: 1 1 200px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
.singers-page-description .btn-description {
  justify-content: flex-start;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  padding-left: 1.875rem;
}

.page-popular-track .flex-container {
  margin-bottom: -1.5625rem;
  margin-left: -3.125rem;
}
.page-popular-track .flex-container > * {
  flex: 1 1 500px;
  margin-bottom: 1.5625rem;
  margin-left: 3.125rem;
}

.page-discography .flex-container,
.page-similar .flex-container {
  margin-bottom: -1.5625rem;
  margin-left: -3.125rem;
}
.page-discography .flex-container .reserve,
.page-similar .flex-container .reserve {
  margin-bottom: 0;
}
.page-discography .flex-container > *,
.page-similar .flex-container > * {
  flex: 1 1 250px;
  margin-bottom: 1.5625rem;
  margin-left: 3.125rem;
}
@media (max-width: 425px) {
  .page-discography .flex-container > *,
.page-similar .flex-container > * {
    flex: 1 1 137px;
  }
}

/*# sourceMappingURL=style.css.map */
