$btn-colors: (
  'green': $green,
  'red': $red,
  'purple': $purple,
);

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: px-to-rem(200px);

  padding: px-to-rem(17px);

  text-transform: uppercase;

  background: none;

  border: none;
  border-radius: px-to-rem(5px);
  cursor: pointer;

  &-left-icon {
    width: px-to-rem(24px);
    height: px-to-rem(24px);

    margin-right: px-to-rem(7px);
  }

  @include set-typography(12.8px, 19.2px);
}
@each $color-name, $color in $btn-colors {
  .btn-#{$color-name} {
    color: $white;

    background: $color;
  }
}
