$btn-colors: (
  'green': $green,
  'red': $red,
  'purple': $purple,
);

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 200px;

  padding: 12px 0;

  text-transform: uppercase;

  background: none;

  border: none;
  border-radius: px-to-rem(5px);
  cursor: pointer;

  @include set-typography(13px, 26px);
}
@each $color-name, $color in $btn-colors {
  .btn-#{$color-name} {
    color: $white;

    background: $color;
  }
}
