.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-height: px-to-rem(620px);

  padding: px-to-rem(0px 25px);

  border-radius: px-to-rem(10px);

  &-title {
    position: absolute;
    top: px-to-rem(24px);
  }

  &-price {
    @include set-typography(64px, 96px);

    .currency {
      top: -0.75em;
      @include set-typography(32px, 64px, normal, uppercase);
    }
  }

  &-btn {
    @include set-typography(16px, 32px, normal, uppercase);
    margin-top: px-to-rem(24px);
    padding: px-to-rem(21px 0px);

    border: 1px solid $white;
  }

  &-small-text {
    @include set-typography(13px, 26px);
    margin: px-to-rem(35px 0px 66px);
  }
}
