.form {
  max-width: px-to-rem(570px);

  margin: 0 auto 0;

  &-input {
    flex: 1 1 250px;
    min-height: px-to-rem(50px);

    margin: px-to-rem(16px 15px) 0;
    padding: 0 px-to-rem(15px);

    color: $white;

    background: transparent;
    border: px-to-rem(2px) solid $white;
    border-radius: px-to-rem(3px);
  }

  &-input:not(:first-child) {
    @include set-media(sm) {
      margin-top: px-to-rem(30px);
    }
  }

  .form-btn {
    flex: 1 1 570px;
    max-width: px-to-rem(570px);
    min-height: px-to-rem(57px);
    margin: px-to-rem(24px 15px) 0;

    @include set-typography(13.3px, 15px, normal, uppercase);
  }
}
