.subscription-text {
  margin-top: 45px;

  font-weight: bold;
  font-size: 18px;
}

.subscription-form-container {
  max-width: 600px;

  margin: 0 auto 40px;
}

.inputs-container > * {
  width: calc(270px - 15px);
}

.subscription-input {
  flex: 1 1 270px;
  height: 50px;

  margin: 30px 15px 0;
  padding: 15px;

  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.subscription-button {
  flex: 1 1 570px;
  height: 56px;

  margin: 30px 15px 0;
}
