.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.color-white {
  color: $white;
}

.color-middle-gray {
  color: $gray;
}

.color-light-gray {
  color: $gray;
}

.text-uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.pt-100 {
  padding-top: px-to-rem(100px);
}

.pb-50 {
  padding-bottom: px-to-rem(50px);
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-22 {
  margin-left: 22px;
}

.mt-70 {
  margin-top: 70px;
}

.bg-black {
  background: $black;
}
