.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.color-white {
  color: $white;
}

.color-middle-gray {
  color: $middle-gray;
}

.color-light-gray {
  color: $light-gray;
}

.text-uppercase {
  text-transform: uppercase;
}

.pt-100 {
  padding-top: 100px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-22 {
  margin-left: 22px;
}

.mt-70 {
  margin-top: 70px;
}

.bg-black {
  background: $black;
}
