* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  @include set-typography($rem-base, 24px);
}

main {
  padding-bottom: px-to-rem(100px);

  color: $white;

  background: $black;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

h1 {
  @include set-typography(60px, 90px, bold, uppercase);

  @include set-media(sm) {
    @include set-typography(30px, 45px, bold, uppercase);
  }
}

h2 {
  @include set-typography(38px, 57px, bold, uppercase);

  @include set-media(sm) {
    @include set-typography(18px, 27px, bold, uppercase);
  }
}

h3 {
  @include set-typography(16px, 24px, bold, uppercase);

  @include set-media(sm) {
    @include set-typography(18px, 27px, bold, uppercase);
  }
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;

  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 0;
}

.container {
  max-width: px-to-rem(1200px);
  margin: 0 auto;

  @include set-media(xl) {
    padding: px-to-rem(0px 20px);
  }
}
