@function px-to-rem($list) {
  $result: ();

  @each $value in $list {
    $result: append($result, (($value / $rem-base) * 1rem));
  }

  @return #{$result};
}

@mixin set-typography(
  $font-size,
  $line-height: $font-size,
  $font-weight: normal,
  $text-transform: inherit
) {
  font-weight: $font-weight;
  font-size: px-to-rem($font-size);
  line-height: px-to-rem($line-height);
  text-transform: $text-transform;
}

@mixin set-bg-image($image-name, $extend) {
  background: url('../images/#{$image-name}.#{$extend}') no-repeat center;
  background-size: cover;
}

@mixin set-bg-gradient($color-1, $color-2) {
  background: linear-gradient(265.08deg, $color-1 14.9%, $color-2 68.95%);
}

@mixin set-media($type) {
  @media (max-width: map-get($breakpoints, $type)) {
    @content;
  }
}
